/* Color: brown */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/Documents\/InTheLoftStudios-legacy\/cpanel\/bible_verses\/style\.scss}line{font-family:\0000310}}
body {
  background: #392117;
  color: #f2d47e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/Documents\/InTheLoftStudios-legacy\/cpanel\/bible_verses\/style\.scss}line{font-family:\0000314}}
h1 {
  text-align: center;
  border-bottom: 3px double #8c6347;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/Documents\/InTheLoftStudios-legacy\/cpanel\/bible_verses\/style\.scss}line{font-family:\0000318}}
hr {
  border: 1px solid #8c6347;
  border-bottom: 0;
  height: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/Documents\/InTheLoftStudios-legacy\/cpanel\/bible_verses\/style\.scss}line{font-family:\0000325}}
.verse p {
  padding: 0 20px;
}
