/* Color: brown */
$brown: #8C6347;
$brown_lightest: #F2D47E;
$brown_light: #D19853;
$brown_dark: #392117;
$text_on_brown: #F2D47E;
$text_on_brown_low_contrast: lighten($text_on_brown, 25);
$text_on_brown_high_contrast: darken($text_on_brown, 25);

body {
  background: $brown_dark;
  color: $text_on_brown;
}
h1 {
  text-align: center;
  border-bottom: 3px double $brown;
}
hr {
  border: 1px solid $brown;
  border-bottom: 0;
  height: 0;
  width: 100%;
}
.verse {
  p {
    padding: 0 20px;
  }
}
